.presentation {
    position: relative; 
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.presentation::before {    
  content: "";
  background-image: url('../../../public/computer.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.3;
  background-attachment: fixed;
}

.title {
  z-index: 1001;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.animate__animated.animate__slideInUp {
  --animate-duration: 3s;
}

.title h1 {
  font-size: 4em !important;
  font-weight: 500 !important;
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  font-size: 2rem;
  margin: 0 auto;

  border-right: 0.15em solid rgb(1, 167, 18);
  animation: typing 4s steps(38) 1s 1 normal both, blink 1s steps(1) infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.title h2 {
  font-size: 3em !important;
  color: rgb(1, 167, 18);
}

.icon-slide {
  position: absolute;
  bottom: 140px;
  z-index: 1001;
  border-radius: 50%;
  border: 1px solid rgb(1, 167, 18) !important;
  padding: 5px;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
}

.icon-slide a {
  color: rgb(1, 167, 18) !important;
}


@media only screen and (max-width: 900px) {
  .title h1 {
    font-size: 1.3em !important;
  }

  .title h2 {
    font-size: 1em !important;
  }

  .icon-slide img {
    width: 40px !important;
  }
}